* {
    margin : 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
  font-family: "Arial"; 
  background-color: rgb(3, 6, 32); 
  color: rgb(255, 255, 255);
}

/* BARRE DE NAVIGATION  */
nav {
  height: 15vh;
  width: 100vw;
    
  padding : 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.726);
}

.nav-logo {
  width: 15vw;
}

nav > .nav-menu {
  width : 65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav .nav-menu-liens, nav > .nav-menu-bouton {
  width: 21vw;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .nav-menu-contact {
  width: 21vw;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  
}

nav a:hover {
  color : rgb(255, 255, 255); 
}
