/* Importing Poppins as title font, weight : 900 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

/* Creating all CSS variables to reuse later */
:root {
    
    /* All sizes are in "rem" so you just change root font-size in media-queries */

    /* Fonts */
    --title-font : 'Poppins', sans-serif;
    --text-font : 'Verdana', sans-serif;

    /* Font-sizes */
    --big-font-size: 16rem;
    --h1-font-size: 8.45rem;
    --h2-font-size: 6.25rem;
    --h3-font-size: 4.70rem;

    --large-font-size: 3.525rem;
    --normal-font-size: 2.65rem;
    --small-font-size: .875rem;
    --smaller-font-size: .75rem;

}

